<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>로그인</h2>

<form th:action="@{/login}" method="post">
    <label>Email: <input type="text" name="username" /></label><br/>
    <label>Password: <input type="password" name="password" /></label><br/>
    <button type="submit">로그인</button>
</form>

<div th:if="${param.error}">
    <p style="color:red;">이메일 또는 비밀번호가 잘못되었습니다.</p>
</div>

<div th:if="${param.logout}">
    <p style="color:green;">로그아웃 되었습니다.</p>
</div>

<div>
    <a th:href="@{/register}">회원가입</a>
</div>
</body>
</html>
